*.egg
*.egg-info
*.pyc
*.pyo
*$py.class
*~
.cache/
.coverage
coverage.xml
/build/
/dist/
.tox/
nosetests.xml
tmp/
backup/
uploads/
ftp/
venv/
__pycache__/
Data.fs*
output.log
index.json
*.sublime-project
*.sublime-workspace
.*.sw?
.idea/
.sw?
.DS_Store
*.sqlite
*.db
coverage
test
